*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body{
    height: 100vh;
    background: linear-gradient(to right, #0c055c, #bebae6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills{
    width: 500px;
    padding: 40px;
    border-radius: 20px;
    background-color: #c2c2c2;
    box-shadow: 0 15px 20px #00000027, 0 -5px 5px #00000027;
}
.skills ul{
    list-style: none;
}

.skills ul li{
    margin: 20px 0;
}
.skills .barras{
    background-color: #ccc;
    display: block;
    height: 20px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}
.barras > span {
    height: 20px;
    background: linear-gradient(to right, #fe4701, #ff0054);
    position: absolute;
}
.html{
    width: 80%;
    animation: html 3s;
}
.css{
    width: 40%;
    animation: css 3s;
}
.javascript{
    width: 10%;
    animation: javascript 3s;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
    
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
    
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 10%;
    }
    
}